.body {

}

.message {
  font-size: 80px;
  text-align: center;
  margin: 10px;
}

.game {
  border: 3px solid black;
  margin: auto;
}

.square {
  width: 50px;
  height: 50px;
  float: left;
}

.snake {
  background-color: #00FF00;
}

.head {
  background-color: green;
}

.tail {
  
}

.mouse {
  background-image: url("http://cdn.blogs.sheknows.com/babybanter.sheknows.com/2011/06/mouse-with-teddy-bear.jpg");
  background-size: cover;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}